body {
    font-family: Arial, sans-serif;
    color: #000;
    background-color: #f2f2f2; /* Light gray background color */
    margin: 0;
    padding: 0;
}


header {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    position: relative;
    font-weight: bold;
}

nav ul li a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

nav ul li a:hover {
    color: #555;
}

nav ul li a:hover::after {
    transform: scaleX(1);
}

section {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


h2 {
    color: #000;
    margin-bottom: 15px;
}

.profile-photo {
    width: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

.about-content {
    display: flex;
    align-items: center;
}

.about-content p {
    flex: 1;
}

.project {
    margin-bottom: 20px;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Contact Info Styles */
.contact-info {
    margin-top: 20px;
}

.contact-info li {
    margin-bottom: 10px;
}

.contact-info li a {
    text-decoration: none;
    color: #555;
    transition: color 0.3s ease;
}

.contact-info li a:hover {
    color: #000;
}

.project img {
  max-width: 250px; /* Adjust the maximum width of the image */
  height: auto; /* Maintain aspect ratio */
  display: inline; /* Position the image inline with the text */
  margin: 0; /* Remove any margins around the image */
}

.project {
  padding: 15px; /* Adjust padding to make the box smaller */
  margin-bottom: 15px; /* Adjust margin to create spacing between boxes */
  border-radius: 8px;
  border: 1px solid #ccc;
}

.project + .project {
  margin-top: 15px; /* Add margin between projects */
}


/* Active Navigation Link */
nav ul li a.active {
    color: #000;
    font-weight: bold;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }
    
    .profile-photo {
        width: 100px;
    }
}
